/TDEVar.fig.bak
/assert.fig.bak
/assert1.fig.bak
/assert2.fig.bak
/assert3.fig.bak
/catalog.fig.bak
/doc.toc
/dowhilea.pdf
/dowhileb.pdf
/e11.fig.bak
/ee1a.fig.bak
/ee1b.fig.bak
/ee2b.fig.bak
/execp1.fig.bak
/execp3.fig.bak
/execp4.fig.bak
/execp5.fig.bak
/queuebuffer.fig.bak
/starta.fig.bak
/starts.fig.bak
/ubqueue.fig.bak
/ubqueueex1.fig.bak
/ubqueueex1_rchain.fig.bak
/ubqueueex1_wchain.fig.bak
/ubqueueex2.fig.bak
/vshift.pdf

