*.bak
/and.pdf
/btrate1.pdf
/btrate2.pdf
/c_serial.pdf
/c_zynq.pdf
/clpdcm.pdf
/comm.pdf
/commdmar.pdf
/commdmaw.pdf
/commint.pdf
/commmr.pdf
/commmw.pdf
/commr.pdf
/commw.pdf
/core1.pdf
/core3.pdf
/cpu.pdf
/cram.pdf
/dcm.pdf
/dcm2.pdf
/ddrin.pdf
/ddrout.pdf
/del.pdf
/dff.pdf
/diverge.pdf
/doc.toc
/dowhile.pdf
/dspex1.pdf
/dspex2.pdf
/e1.pdf
/e10.pdf
/e11.pdf
/e12.pdf
/e13.pdf
/e14.pdf
/e15.pdf
/e16.pdf
/e2.pdf
/e2cpo.pdf
/e2cu.pdf
/e2o.pdf
/e3.pdf
/e4.pdf
/e5.pdf
/e6.pdf
/e7.pdf
/e8.pdf
/e9a.pdf
/e9b.pdf
/ee1a.pdf
/ee1b.pdf
/ee2b.pdf
/ex3wf.pdf
/execp.pdf
/iddr1.pdf
/iddr2.pdf
/iddr3.pdf
/iloop.pdf
/inv.pdf
/iodll.pdf
/oddr.pdf
/op.pdf
/or.pdf
/pipe.pdf
/pqueue.pdf
/priority.pdf
/py_serial.pdf
/py_zynq.pdf
/queue.pdf
/reg.pdf
/resync.pdf
/rram.pdf
/select.pdf
/start.pdf
/wait.pdf
/when.pdf
/while.pdf
/xor.pdf
