% 3pl compiler version infomation

\newcommand{\Version}{@VERSION@}
\newcommand{\Revision}{@REVISION@}
\newcommand{\LastChangedAuthor}{@CHANGEAUTHOR@}
\newcommand{\LastChangedRev}{@CHANGEREV@}
\newcommand{\LastChangedDate}{@CHANGEDATE@}
\newcommand{\BuildDate}{@BUILDDATE@}
\newcommand{\BuiltBy}{@BUILTBY@}

